.awards {
  padding-top: clamp(0.938rem, -0.181rem + 5.114vw, 3.75rem);
  padding-bottom: clamp(0.938rem, -0.181rem + 5.114vw, 3.75rem);
  background-color: var(--back-light);
}

.awards__title {
  text-align: center;
  margin-bottom: clamp(0.938rem, -0.181rem + 5.114vw, 3.75rem);
}

.awards__list {
margin-bottom: 59px;
}

.awards__item {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 16px;
  border-top: 1px solid var(--border-light);

  &:last-child {
    border-bottom: 1px solid var(--border-light);
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

}

.awards__project {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  color: var(--text-dark);

  img {
    width: 120px;
    height: 80px;
  }

  span {
    padding-top: 10px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.awards__date {
  justify-self: center;
  padding-top: 10px;
}

.awards__award {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  span {
    padding-top: 10px;
  }
}
.awards__text {
  text-align: center;
  color: var(--text-dark-transparent);

  span {
    margin-right: 8px;
  }
}
.awards__link {
  color: var(--text-dark);
}