.faq-accordion {}

.faq-accordion__item {
  &--opened {
    background-color: var(--text-light);

    .faq-accordion__btn img {
      transform: rotate(180deg);
      padding-top: 0;
    }

    .faq-accordion__text {
      display: block;
    }
  }
}

.faq-accordion__title-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 41px 35px 40px 48px;
}

.faq-accordion__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  border-radius: 50%;
  flex-shrink: 0;

  &:hover, &:focus, &:active {
    border-color: var(--text-dark);
  }

  img {
    padding-top: 5px;
    transition: 0.3s;
  }
}

.faq-accordion__text {
  display: none;
  opacity: 1;
  padding: 0 49px 40px 49px;
  color: var(--text-dark-transparent);
}