.feature-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.feature-details__desc {
  max-width: 370px;
}
.feature-details__title {
  margin-bottom: 30px;
}

.feature-details__excerpt {
  font-size: 20px;
  margin-bottom: 28px;
  color: var(--text-dark-transparent);
}
.feature-details__link {
  color: var(--text-dark);
}
.feature-details__list {
  display: flex;
  align-items: flex-end;
}
.feature-details__item {
  max-width: 335px;
  padding: 105px 48px 46px 48px;
  border: 1px solid var(--border-light);
  border-radius: 0px 6px 6px 0px;

  &--bright {
    position: relative;
    padding-top: 168px;
    background-color: var(--text-light);
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 48px;
      left: 48px;
      width: 80px;
      height: 80px;
      background-image: url("./../img/item-pseudo.svg");
      background-color: var(--accent);
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
    }
  }
}

.feature-details__caption {
  margin-bottom: 19px;
}

.feature-details__text {
  color: var(--text-dark-transparent);
}