.feature-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  @include tablet {
    flex-direction: column;
    gap: 36px;
  }
}


.feature-details__desc {
  max-width: 370px;
  flex-shrink: 1;

  @include tablet {
    max-width: none;
    border-left: 1px solid var(--border-light);
    padding-left: 15px;
  }
  @media (max-width: 450px) {
    border: none;
    padding-left: 0;
  }
}

.feature-details__title {
  margin-bottom: 30px;
}

.feature-details__excerpt {
  font-size: 20px;
  margin-bottom: 28px;
  color: var(--text-dark-transparent);

  @media (max-width: 1100px) {
    font-size: 16px;
  }

  @media (max-width: 440px) {
    font-size: 20px;
    line-height: 1.6;
  }
}

.feature-details__list {
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;

  @media (max-width: 440px) {
    flex-direction: column;
  }
}

.feature-details__item {
  max-width: 335px;
  padding-top: 63px;

  &--bright {
    position: relative;
    background-color: var(--text-light);
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 48px;
      left: 48px;
      width: 80px;
      height: 80px;
      background-image: url("./../img/item-pseudo.svg");
      background-color: var(--accent);
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;

      @media (max-width: 1100px) {
        left: 15px;
      }

      @media (max-width: 440px) {
        left: 48px;
      }
    }

    .feature-details__inner {
      border: none;
    }
  }

  @media (max-width: 440px) {
    &:not(:first-child) {
      padding-top: 0;
    }
  }
}

.feature-details__inner {
  padding: 108px 48px 46px 48px;
  border: 1px solid var(--border-light);
  border-radius: 0px 6px 6px 0px;

  @media (max-width: 1100px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: 440px) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.feature-details__caption {
  margin-bottom: 19px;
}

.feature-details__text {
  color: var(--text-dark-transparent);
}