.footer {
  padding-top: 89px;
  background-color: var(--back-light);
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.footer-nav {
}
.footer-nav__logo {
}

.footer-nav__main-list {
}
.footer-nav__inner-list {
}