.page {
  min-height: 100vh;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.page__body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}