.pertners {
  background-color: var(--back-light);
}

.partners__inner {
  padding-top: 72px;
  padding-bottom: 72px;
  border-bottom: 1px solid var(--border-light);

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;

  @media (max-width: 768px) {
    justify-content: center;
    row-gap: 30px;
    column-gap: 55px;
  }

  // @media (max-width: 430px) {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }

}

.partners__item {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  overflow: hidden;
}

.partners__img {
  max-height: 47px;
  object-fit: contain;
}