.portfolio {
  background-color: var(--back-dark);
  padding-top: 92px;
  padding-bottom: 192px;
}

.portfolio__title {
  margin-bottom: 20px;
  text-align: center;
}

.portfolio__subtitle {
  text-align: center;
  margin-bottom: 36px;
}

.portfolio__sort-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 46px;
  margin-bottom: 68px;
}

.portfolio__sort-item {
  color: var(--text-light-transparent);

  &--active,
  &:hover {
    color: var(--text-light);
  }
}

.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.portfolio__item {
  flex-basis: 40%;
  position: relative;

  &:nth-child(4n + 2),
  &:nth-child(4n + 3) {
    flex-grow: 1;
  }

  img {
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
  }
}

.portfolio__desc {
  position: absolute;
  left: 48px;
  bottom: 51px;
}

.portfolio__kind {
  display: inline-block;
  padding: 5px 16px 1px 16px;
  border-radius: 19px;
  color: var(--text-dark);
  background-color: var(--text-light);
  margin-bottom: 23px;
}

.portfolio__name {}

.portfolio__link-wrapper {
  text-align: center;
}
