.service {
  padding-top: 207px;
  padding-bottom: 128px;
}

.service .grid-columns-container {
  margin-bottom: 140px;
}

.service__title {
  margin-bottom: 20px;
}

.service__subtitle {
  margin-bottom: 26px;
}
.service__text {
  margin-bottom: 37px;
}