.service-details {
}
.service-details__title {
  margin-bottom: 17px;
}

.service-details__subtitle {
  max-width: 336px;
  margin-bottom: 35px;
}

.service-details__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  border-top: 1px solid var(--border-light);
}
.service-details__item {
  padding-top: 159px;
  padding-bottom: 52px;
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);

  &:nth-child(3n) {
    border-right: none;
  }

}

.service-details__inner {
  max-width: 314px;
  margin: 0 auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  
  &::before {
    content: "";
    position: absolute;
    top: -115px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: var(--accent);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
  }

  &--design::before {
    background-image: url("./../img/service-design.svg");
  }
  &--development::before {
    background-image: url("./../img/service-development.svg");
  }
  &--marketing::before {
    background-image: url("./../img/service-marketing.svg");
  }
}

.service-details__caption {
  margin-bottom: 19px;
}
.service-details__excerpt {
  color: var(--text-dark-transparent);
  margin-bottom: 26px;
}

.service-details__link {

  color: var(--text-dark);
}