.stats-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.stats-list__item {
  padding-top: 43px;
  padding-bottom: 32px;
  padding-left: clamp(10px, -7px + 4.61vw, 48px);
  padding-right: clamp(10px, -7px + 4.61vw, 48px);
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);

  &:nth-child(3n +1) {
    border-left: 1px solid var(--border-light);
  }

  &:nth-child(1) {
    border-top: 1px solid var(--border-light);
  }

  @media (min-width: 769px) {
    &:nth-child(2),
    &:nth-child(3) {
      border-top: 1px solid var(--border-light);
    }
  }

  @include tablet {
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    border-left: 1px solid var(--border-light);
  }

  @media (max-width: 430px) {
    text-align: left;
  }
}

.stats-list__number {
  margin-bottom: 13px;
}

.stats-list__desc {
  font-size: 20px;
  color: var(--text-dark);
}