
.team {
  padding-top: clamp(0.938rem, 0.067rem + 3.977vw, 3.125rem);
  padding-bottom: clamp(2.5rem, -0.881rem + 15.455vw, 11rem);
  background-color: var(--back-dark);
}

.team__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;

  @include tablet {
    flex-direction: column;
    gap: 20px;
  }
}

.team__title {
  margin-bottom: 20px;
}

.team__subtitle {
  max-width: 531px;

  span {
    text-transform: none;
  }
}

.team__btn-wrapper {
  align-self: flex-end;
  max-width: 120px;

  @include tablet {
    align-self: flex-start;
  }
}

.swiper {
  &-button-next::after,
  &-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 800;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
    border-radius: 50%;
    color: var(--white-100);
    background: var(--black-300);
  }
}

.swiper-slide {
  max-width: 250px;
}


.team__slider {
  margin-bottom: clamp(3.125rem, -1.697rem + 22.045vw, 15.25rem);
  overflow: hidden;
  height: 400px;


  .swiper {
    padding-bottom: 50px;
  }

  .swiper-pagination-bullet-active {
    background: var(--accent);
  }
}

.team__quote-text {
  background-image: url("./../img/quote.svg");
  background-position: top 10px right 46px;
  background-repeat: no-repeat;
}

.team__quote-title {
  margin-bottom: 33px;
}

.team__quote {
  margin-bottom: 44px;
  text-transform: none;
}

.team__quote-name {
  color: var(--text-light);
  font-size: 20px;
}

.team__position {
  color: var(--text-light);
}