.team {
  padding-top: 50px;
  padding-bottom: 176px;
  background-color: var(--back-dark);
}

.team__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.team__title {
  margin-bottom: 20px;
}

.team__subtitle {
  max-width: 531px;

  span {
    text-transform: none;
  }
}

.team__btn-wrapper {
  align-self: flex-end;
  max-width: 120px;
}

.team__slider {
  margin-bottom: 244px;
  overflow: hidden;
  
  .swiper {
    padding-bottom: 50px;
  }

  .swiper-pagination-bullet-active {
    background: var(--accent);
  }
}

.team__quote-text {
  background-image: url("./../img/quote.svg");
  background-position: top 10px right 46px;
  background-repeat: no-repeat;
}

.team__quote-title {
  margin-bottom: 33px;
}

.team__quote {
  margin-bottom: 44px;
  text-transform: none;
}

.team__quote-name {
  color: var(--text-light);
  font-size: 20px;
}