.working {
  background-color: var(--back-light);
  padding-bottom: clamp(30px, -2px + 8.48vw, 100px);
  border-bottom: 1px solid var(--border-light);
}

.working__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include tablet {
    display: flex;
    flex-direction: column; 
  }
}
.working__content {
  max-width: 470px;
  justify-self: start;

  @include tablet {
    max-width: 90%;
    align-self: center;
  }

  @media (max-width: 440px) {
    max-width: none;
  }
}
.working__title {
  margin-bottom: 17px;
}

.working__subtitle {
  margin-bottom: 31px;

  @include tablet {
    margin-bottom: 15px;
  }
}
.working__excerpt {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--text-dark-transparent);
}

.working__list {
  list-style: none;
  align-self: center;
  padding-top: 48px;

  @include tablet {
    max-width: 90%;
  }

  @media (max-width: 440px) {
    max-width: none;
  }
}
.workiing__item {
  display: grid;
  grid-template-columns: 105px 1fr;
  align-items: center;
  margin-bottom: 32px;
  padding-left: 5px;

  @include tablet {
    grid-template-columns: 72px 1fr;
  }
}
.working__number { 
  font-size: 72px;
  font-weight: 800;
  line-height: 1.11;
  letter-spacing: -2px;
}