body {
	text-size-adjust: none;
  -ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;//чтобы не пересчитывалcz шрифт заголовка
}

.none {
	display: none !important;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: 375px) {
		max-width: 375px;
		padding: 0 23px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hidden {
	display: none;
}

.title-accent {
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: var(--accent);
	font-weight: 400;
}

.title-l {
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14;
	letter-spacing: -1px;
	text-transform: capitalize;

	&--dark {
		color: var(--text-dark);
	}

	&--light {
		color: var(--text-light);
	}

	@media (max-width: 900px) {
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: normal;
  }
}

.title-m {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	text-transform: capitalize;

	&--dark {
		color: var(--text-dark);
	}

	&--light {
		color: var(--text-light);
	}
}

.title-s {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;

	&--dark {
		color: var(--text-dark);
	}

	&--light {
		color: var(--text-light);
	}
}

.grid-columns-container {
	display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

	@media (max-width: 768px) {
    display: flex;
		flex-direction: column;
		gap: 16px;
  }
}

.grid-column-text {
	max-width: 470px;
  align-self: center;

	&--right {
		justify-self: end;
	}

	&--left {
		justify-self: start;
	}

	@media (max-width: 768px) {
    max-width: 90%;
  }

	@media (max-width: 440px) {
    max-width: none;
  }
}

.grid-column-image {
  align-self: center;

	&--left {
		justify-self: start;
	}

	&--right {
		justify-self: end;
	}
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 650px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--back-light);
  border: 1px solid var(--border-light);
  border-radius: 6px;
  text-align: center;

  &--hidden {
    display: none;
  }
}
.popup__title {
  margin-bottom: 30px;
  text-transform: none;
}

.popup__text {
  margin-bottom: 30px;
}

.popup__btn {
  margin-left: auto;
}

