:root {
  --text-light: rgba(255, 255, 255, 1);
  --text-light-transparent: rgba(255, 255, 255, 0.64);
  --text-dark: rgba(57, 20, 0, 1);
  --text-dark-transparent: rgba(57, 20, 0, 0.64);
  --accent: rgba(239, 109, 88, 1);
  --back-dark: rgba(40, 41, 62, 1);
  --back-light: rgba(253, 240, 233, 1);
  --border-light: rgba(243, 209, 191, 1);
  --border-dark: rgba(58, 60, 86, 1);
}

// Viewports

// @tablet-width: 768px;
// @tablet-width-max: 1199px;
// @desktop-width: 1200px;
// @mobile-width: 767px;;