.contact-form {
  width: 470px;
  padding: 48px 57px;
  background-color: var(--text-light);
  display: flex;
  flex-direction: column;
}

.contact-form__title {
  margin-bottom: 23px;
}

.contact-form__item  {
  padding: 9px 16px 7px 16px;
  border: 1px solid var(--border-light);
  border-radius: 6px;
  background-color: var(--text-light);
  outline: none;
  color: var(--text-dark);

  &::placeholder {
    color: var(--text-dark-transparent);
  }

  &:focus {
    box-shadow:0px 0px 10px var(--accent);
  }
}

.contact-form__email {
  margin-bottom: 16px;
}



.contact-form__select-wrapper {
  position: relative;
  margin-bottom: 16px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: var(--accent) transparent transparent transparent;

    /*Снимаем клик с треугольника*/

  pointer-events: none;
  }
}

.contact-form__subject {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--text-dark);
}

.contact-form__subject {
  width: 100%;
  &::-ms-expand {
    display: none;
  }
}


.contact-form__message {
  resize: none;
  max-width: 374px;
  height: 96px;
  margin-bottom: 32px;
}

.contact-form__btn{
  align-self: flex-end;
}