.slogan {
  padding: 38px 70px 72px 100px;
  background-color: var(--accent);
}

.slogan__title {
  margin-bottom: 28px;
}

.slogan__text {
  margin-bottom: 34px;
  color: var(--text-light-transparent);
}
