.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  height: 46px;
  text-align-last: left;
  background-color: var(--text-light);
  border: 1px solid var(--border-light);
  color: var(--text-dark-transparent);
  border-radius: 6px;
  padding: 9px 16px 7px 16px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: var(--accent) transparent transparent transparent;
    pointer-events: none;
  }

  &:focus, &--active {
    box-shadow: 0px 0px 10px var(--accent);
  }

  &--filled {
    color: var(--text-dark);
  }
}

.dropdown__list {
  display: none;

  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  background-color: var(--text-light);
  overflow: hidden;
  z-index: 1;

  &--visible {
    display: block;
  }
}

.dropdown__list-item {
  border: 1px solid var(--border-light);
  border-bottom: 0;
  padding: 9px 16px 7px 16px;
  cursor: pointer;

  &:first-child {
    border-radius: 6px 6px 0 0;
  }

  &:last-child {
    border: 1px solid var(--border-light);
    border-radius: 0 0 6px 6px;
  }

  &:hover {
    background-color: var(--accent);
    color: var(--text-light);
  }
}

.dropdown__input-hidden {
  border: 1px solid green;
  display: none;
}